{% extends 'base.html.twig' %}

{% block body %}
    <h1>Discount Coupons list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Used</th>
                <th>Value in percent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discountCoupon in discountCoupons %}
            <tr>
                <td><a href="{{ path('discountcoupon_show', { 'id': discountCoupon.id }) }}">{{ discountCoupon.id }}</a></td>
                <td>{{ discountCoupon.code }}</td>
                <td>{% if discountCoupon.used %}Yes{% else %}No{% endif %}</td>
                <td>{{ discountCoupon.valueInPercent }} %</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-default" href="{{ path('discountcoupon_show', { 'id': discountCoupon.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('discountcoupon_edit', { 'id': discountCoupon.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('discountcoupon_new') }}">Create a new discountCoupon</a>
        </li>
    </ul>
{% endblock %}
