{% extends 'base.html.twig' %}

{% block body %}
    <h1>Discount Coupon</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discountCoupon.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ discountCoupon.code }}</td>
            </tr>
            <tr>
                <th>Used</th>
                <td>{% if discountCoupon.used %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Value in percent</th>
                <td>{{ discountCoupon.valueInPercent }} %</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('discountcoupon_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-default" href="{{ path('discountcoupon_edit', { 'id': discountCoupon.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
