<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Photo orders!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" media="screen"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/my.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/carousel.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
    <div class="navbar-wrapper">
        <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Photo Orders{% if is_granted("ROLE_USER") %}, Hi {{ app.user.username }}!{% endif %}</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                {% if is_granted("ROLE_USER") %}
                                    <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">Login</a>
                                {% endif %}</li>
                                {% if is_granted("ROLE_USER") %}
                                {% else %}
                                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                                {% endif %}
                            <li><a href="#">Home</a></li>
                            {% if is_granted("ROLE_USER") %}
                            <li><a href="{{ path('commission_new') }}">Create new commission</a></li>
                            <li><a href="{{ path('commission_index') }}">My commissions</a></li>
                            {% endif %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('paper_index')}}">Price list</a></li>
                                    <li><a href="{{ path('shipment_index')}}">Shipment</a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Managing panel</li>
                                    <li>
                                        <a href="{{ path('commission_all_index') }}">Show Commission All</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('state_index') }}">Manage states</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('paper_index') }}">Manage paper types</a>
                                    </li>
                                     <li>
                                        <a href="{{ path('format_index') }}">Manage format types</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <br>
    <br>
    <br>
    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('scripts/script.js') }}"></script>
</html>
