{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formats list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for format in formats %}
            <tr>
                <td><a href="{{ path('format_show', { 'id': format.id }) }}">{{ format.id }}</a></td>
                <td>{{ format.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('format_show', { 'id': format.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('format_edit', { 'id': format.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('format_new') }}">Create a new format</a>
        </li>
    </ul>
{% endblock %}
