{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formats list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Description</th>
                <th>Recommended resolution in MPx</th>
                {% if is_granted('ROLE_ADMIN') %}<th>Actions</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for format in formats %}
            <tr>
                <td>{{ format.description }}</td>
                <td>{{ format.recommendedResolution }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-default" href="{{ path('format_show', { 'id': format.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('format_edit', { 'id': format.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('format_new') }}">Create a new format</a>
        </li>
    </ul>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ path('commission_all_index') }}">Back to the list</a>
    {% else %}
        <a class="btn btn-default" href="{{ path('commission_index') }}">Back to the list</a>
    {% endif %}
{% endblock %}
