{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commission edit</h1>
    {#<form action="{{ path('commission_edit', {'id': id}) }}" method="post">#}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <table>
        <tr>
        </tr>
    
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><input class="btn-lg" type="submit" value="Save"/></td>
        </tr>
    </table>
    {#</form>#}
    {{ form_end(edit_form) }}
    <br>
    <ul>
        <li>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default" href="{{ path('commission_all_index') }}">Back to the list</a>
            {% else %}
                <a class="btn btn-default" href="{{ path('commission_index') }}">Back to the list</a>
            {% endif %}

        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-default" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
