{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commissions list</h1>
    <table class="table table-hover">
        <thead>
            <tr class="active">
                <th>No.</th>
                <th>User Email</th>
                <th>Description</th>
                <th>State</th>
                <th>Image</th>
                <th>Creation Date</th>
                <th>Completion Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commission in commissions %}
            <tr>
                <td>
                    <a href="{{ path('commission_show', { 'id': commission.id }) }}">{{ commission.id }}</a>
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('commission_allByUser_index', {'userId': commission.user.id }) }}">
                            {{ commission.user.email }}
                        </a>
                    {% else %}
                        {{ commission.user.email }}
                    {% endif %}
                </td>
                <td>
                    {{ commission.description }}
                </td>
                <td class="{%  if  commission.state.id  == 1 %}
                                danger
                            {% elseif commission.state.id  == 2 %}
                                info
                            {% elseif commission.state.id  == 3 %}
                                active
                            {% elseif commission.state.id  == 4 %}
                                success
                            {% endif %}
                            ">
                    {{ commission.state.description }}
                </td>
                <td>
                    <div class="thumbnail">
                        <a href="{{ asset('uploads/fotos/' ~ commission.filename) }}">
                            <img  src="{{ asset('uploads/fotos/' ~ commission.filename) }}" width="100px">
                        </a>
                    </div>
                </td>
                <td>
                    {{ commission.creationTime|date("Y/m/d") }}
                </td>
                <td>
                    {%  if  commission.completionTime != 0 %}
                        {{ commission.completionTime|date("Y/m/d") }}
                    {% else %}
                        {{ '---' }}
                    {% endif %}
                </td>
                <td>
                    <ul class="list-style">
                        <li>
                            <a class="btn btn-default" href="{{ path('commission_show', { 'id': commission.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('commission_edit', { 'id': commission.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('commission_new') }}">Create a new commission</a>
        </li>
    </ul>
{% endblock %}
