{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commissions list</h1>

    {#class="table-hover"#}
    <table class="table table-hover">
        <thead>
            <tr class="active">
                <th>Id</th>
                <th>User Email</th>
                <th>Description</th>
                <th>Status</th>
                <th>File</th>
                <th>Creation Date</th>
                <th>Completion Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commission in commissions %}
            <tr>
                <td><a href="{{ path('commission_show', { 'id': commission.id }) }}">{{ commission.id }}</a></td>
                <td>{% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('commission_allByUser_index', {'userId': commission.user.id }) }}">
                        {% endif %}
                    {{ commission.user.email }}</a>
                    
                </td>
                <td>{{ commission.description }}</td>
                <td class="{%  if  commission.status  == 0 %}danger{% elseif commission.status  == 1 %}info{% elseif commission.status  == 2 %}active{% elseif commission.status  == 3 %}success{% endif %}">{%  if  commission.status  == 0 %}{{ 'Accepted for realization' }} {% elseif commission.status  == 1 %} {{ 'In the implementation' }} {% elseif commission.status  == 2 %} {{ 'Ready' }} {% elseif commission.status  == 3 %} {{ 'Received by a client' }}{% else %} {{ 'unknown status' }} {% endif %}</td>
               {# <td>{{ commission.filename }}</td>#}
                <td><div class="thumbnail"> <a href="{{ asset('uploads/fotos/' ~ commission.filename) }}"><img  src="{{ asset('uploads/fotos/' ~ commission.filename) }}" width="100px"></a></div></td>
                <td>{{ commission.creationTime|date("Y/m/d") }}</td>
                <td>{%  if  commission.completionTime != 0 %}{{ commission.completionTime|date("Y/m/d") }} {% else %} {{ '---' }}{% endif %}</td>
                <td>
                    <ul class="list-style">
                        <li>
                            <a class="btn btn-default" href="{{ path('commission_show', { 'id': commission.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('commission_edit', { 'id': commission.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('commission_new') }}">Create a new commission</a>
        </li>
    </ul>
{% endblock %}
