{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commission creation</h1>

    <table>
        <tr>
            <td colspan="2">{{ form_start(form) }}</td>
        </tr>
        
        <tr>
            <td>{{ form_label(form.description) }}</td><td>{{ form_widget(form.description) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.filename) }}</td><td>{{ form_widget(form.filename) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.format) }}</td><td>{{ form_widget(form.format) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.paper) }}</td><td>{{ form_widget(form.paper) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.copies) }}</td><td>{{ form_widget(form.copies) }}</td>
        </tr>
    </table>
    <br>
        <input class="btn btn-default" type="submit" value="Create order" />
        {{ form_end(form) }}
    <br>
    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('commission_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
