{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commission creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        {{ form_row(form.filename) }}
        <input class="btn btn-default" type="submit" value="Create order" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('commission_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
