{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commission</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commission.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ commission.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{%  if  commission.status  == 0 %}{{ 'Accepted for realization' }} {% else %} {{ 'In the implementation' }}{% endif %}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ commission.filename }}</td>
            </tr>
            <tr>
                <th>Creationtime</th>
                <td>{{ commission.creationTime|date("Y/m/d") }}</td>
            </tr>
            <tr>
                <th>Completiontime</th>
                <td>{%  if  commission.completionTime != 0 %}{{ commission.completionTime|date("Y/m/d") }} {% else %} {{ '---' }}{% endif %}</td>

            </tr>





        </tbody>
    </table>
    <img src="{{ asset('/uploads/fotos/') }}{{ commission.filename}}">
    <ul>
        <li>
            <a href="{{ path('commission_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commission_edit', { 'id': commission.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
