{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commission</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>No.</th>
                <td>{{ commission.id }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ commission.user }}</td>
            </tr>
            <tr>
                <th>Customer email</th>
                <td>{{ commission.user.email }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ commission.description }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ commission.state.description }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ commission.filename }}</td>
            </tr>
            <tr>
                <th>Copies</th>
                <td>{{ commission.copies }}</td>
            </tr>
            <tr>
                <th>Paper</th>
                <td>{{ commission.paper.description }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ commission.format.description }}</td>
            </tr>
            <tr>
                <th>Shipment</th>
                <td>{{ commission.shipment.type }}</td>
            </tr>
            <tr>
                <th>Creation Date</th>
                <td>{{ commission.creationTime|date("Y/m/d") }}</td>
            </tr>
            <tr>
                <th>Completion Date</th>
                <td>{%  if  commission.completionTime != 0 %}{{ commission.completionTime|date("Y/m/d") }} {% else %} {{ '---' }}{% endif %}</td>
            </tr>
            <tr>
                <th>Discount Coupon</th>
                <td>{{ commission.discountCoupon }} %</td>
            </tr>
            <tr>
                <th>Commission Value</th>
                <td>{{ commission.value |number_format(2, '.', ',') }} (shipment included)</td>
            </tr>           
        </tbody>
    </table>
    <p>Current file preview:</p>
    <img src="{{ asset('/uploads/fotos/') }}{{ commission.filename}}">
    <ul>
        <li>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default" href="{{ path('commission_all_index') }}">Back to the list</a>
            {% else %}
                <a class="btn btn-default" href="{{ path('commission_index') }}">Back to the list</a>
            {% endif %}
        </li>
        <li>
            <a class="btn btn-default" href="{{ path('commission_edit', { 'id': commission.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
