{% extends 'base.html.twig' %}

{% block body %}
    <h1>Papers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paper in papers %}
            <tr>
                <td><a href="{{ path('paper_show', { 'id': paper.id }) }}">{{ paper.id }}</a></td>
                <td>{{ paper.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paper_show', { 'id': paper.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('paper_edit', { 'id': paper.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paper_new') }}">Create a new paper</a>
        </li>
    </ul>
{% endblock %}
