{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paper</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paper.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ paper.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ paper.price |number_format(2, '.', ',') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('paper_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-default" href="{{ path('paper_edit', { 'id': paper.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
