{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.email }}</a></td>
                <td>{{ user.lastLogin|date("Y/m/d")  }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commission_allByUser_index', { 'userId': user.id }) }}">show commisions</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
