{% extends 'base.html.twig' %}

{% block body %}
    <h1>States list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for state in states %}
            <tr>
                <td><a href="{{ path('state_show', { 'id': state.id }) }}">{{ state.id }}</a></td>
                <td>{{ state.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-default" href="{{ path('state_show', { 'id': state.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('state_edit', { 'id': state.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('state_new') }}">Create a new state</a>
        </li>
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ path('commission_all_index') }}">Back to the list</a>
    {% else %}
        <a class="btn btn-default" href="{{ path('commission_index') }}">Back to the list</a>
    {% endif %}
{% endblock %}
